@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

.categoryXBtn{
    position: absolute;
    right: 1rem;
    top: 1rem;
    height: 27px;
    width: 29px;
    background: transparent;
    border: 0;
}

.categoryXBtn img{
  width: 100%;
  height: 100%;
}

.power-btn-navbar{
  width: 2%;
  height: 40%;
  position: absolute;
  right: 2rem;
  top: 29px;
  background: transparent;
  border: 0;
  z-index: 10000000;
}


.settings-email-btn{
  margin-right: -1px !important;
  width: 6% !important;
  margin-top: -7px !important;
}


body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}

.user-dashboard-header{
  width: 100%;
  position: fixed;
  left: 0;
  height: 10rem;
  background: #fcfcfc;
  padding-top: 1rem;
  padding-left: 22rem;
  z-index: 1;
}


.main-dashboard-container{
  padding-left: 1.2rem;
  padding-bottom: 3rem;
  padding-top: 2.5rem;
  overflow: scroll;
  max-height: 100vh;
}


.login-main-container{
  display: flex;

  height: 100vh;
}


.login-side-img-container{
  width: 50%;
}

.page-change-container{
  width: 50%;
}


.login-form-container{
  background: #fcfcfc;
  width:90%;
  position:relative;
  top: 10%;
  font-family: "Montserrat" !important;
  text-align: center;
  padding: 4rem 0;
  box-shadow: 1px 1px 26px 3px #dbdbdb;
  height: 630px;
}

.login-input{
  width: 65%;
  margin: 0 auto;
  margin-top:1rem;
}

.login-title{
  font-size: 1.5rem;
  font-weight: bold;
}

.forgot-password-text{
  text-align: left;
  margin-top:1.5rem;
  margin-left:7rem;
}

.forgot-password-text.go-register-text{
  text-align: center;
  margin-left: 0;
}

.login-btn{
  margin-top: 1.5rem;
  width: 65%;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  padding: 11px;
  border-radius: 1rem;
  background: rgb(25,53,71);
  color: white;
}


.wrapper {
  overflow: hidden;
}

.menu-sidebar{
  z-index: 100;
  background: white;
  position: fixed;
  width: 18%;
  left: 0;
  top: 0;
  bottom: 0;
  box-shadow: 0px 2px 4px 0px #dbdbdb;
}

.logo{
  
  height: 75px;
  
  padding-top: 15px;
  text-align: center;
  background: none;
  
  width: 18.8rem;
}

.logo img{
  width: 163px;
  height: 40px;
}

.navbar{
  background-image: linear-gradient( #36D1DC,#5B86E5);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.1);
  height: 75px;
  width: 100%;
  position: fixed;
  z-index: 1000;
  padding: 0;
}


.navbar-content{
  display: flex;
    right: 0;
    position: absolute;
    height: 100%;
    width: 19rem;
}

.notify-btn{
  background: transparent;
  border:0 ;
}

.notify-btn img{
  width: 22px;
}

.notify{
  padding-top: 20px;
}

.navbar-admin-name{
  display: flex;
  padding-left: 5rem;
}

.admin-name-btn{
  margin-left: -2rem;
  background: transparent;
  border: 0;
  color: white;
  font-weight: bold;
  display: flex;
}

.admin-name-btn span{
  margin-top: 11px;
}

.admin-name-btn img{
  width: 3rem;
  border-radius: 4rem;
  margin-right: 1rem;
}



.main-content{
  padding-top: 75px;
  min-height: 100vh;
  background: #fcfcfc;
  margin: 0;
  width: 82%;
  position: fixed;
  right: 0;
}

.dashboard-container{
  
  /* padding-left: 17.2rem; */
  padding-bottom: 3rem;
}

.container-fluid{
  width: 100%;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: auto;
    margin-left: auto;
   
    
}

.graph-container{
  text-align: center;
  padding: 1rem;
  width: 50%;
  background: white;
  margin-right: 1rem;
  height: 19rem;
  border-radius: 1rem;
  box-shadow: 0px 2px 4px 0px #dbdbdb;
}

.graph{
  display:flex;
  padding-top:1rem;
}

.graph-container-2{
  width: 100%;
  text-align: center;
  background: white;
  margin-right: 1rem;
  height: 35rem;
  border-radius: 1rem;
  padding-bottom: 65px;
  margin-bottom: 60px;
  padding: 40px;
  padding-right: 35px;
  box-shadow: 0px 2px 4px 0px #dbdbdb;
}


.user-toggle{
    
    position: absolute;
    
    top: 5rem;
    display: flex;
    
    left: 2rem;
    width: 18%;
}

.nav-link{
  color: black;
  font-weight: bold;
}

.transaction-tabs{
  margin-top: 2rem;
  width: 315px;
}


/* User toggle switch */

.switch-container {
	position: absolute;
    top: 81%;
    left: 47%;
    transform: translate3d( -50%, -50%, 0 );
}

input[type="checkbox"].switch  {
	position: absolute;
	opacity: 0;
}

input[type="checkbox"].switch + div {
	vertical-align: middle;
	width: 40px;
	height: 20px;
	border-radius: 999px;
	background-color: #00B0F2;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	transition-property: background-color, box-shadow;
	cursor: pointer;
}

input[type="checkbox"].switch + div span {
	position: absolute;
    font-size: 1.6rem;
    color: white;
    margin-top: 12px;
}

input[type="checkbox"].switch + div span:nth-child( 1 ) {
    margin-left: 15px;
}

input[type="checkbox"].switch + div span:nth-child( 2 ) {
    margin-left: 55px;
}

input[type="checkbox"].switch:checked + div {
	width: 47px;
	background-position: 0 0;
	background-color: #3b89ec;
}

input[type="checkbox"].switch + div {
	width: 47px;
  height: 21px;
}


input[type="checkbox"].switch:checked + div {
	background-color: #57BB00;
}

input[type="checkbox"].switch + div > div {
	float: left;
    width: 19px;
    height: 18px;
    border-radius: inherit;
    background: #ffffff;
    transition-timing-function: cubic-bezier(1,0,0,1);
    transition-duration: 0.4s;
    transition-property: transform, background-color;
    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
}

input[type="checkbox"].switch:checked + div > div {
	-webkit-transform: translate3d(24px, 0, 0);
	transform: translate3d(27px, 0, 0);
	background-color: #ffffff;
}

input[type="checkbox"].bigswitch.switch + div > div {
	width: 44px;
	height: 44px;
	margin-top: 1px;
}



.user-toggle-text{
  margin-right: 6.5rem;
}


/* User Agent Toggle  */


.switch-container {
	position: absolute;
    top: 81%;
    left: 47%;
    transform: translate3d( -50%, -50%, 0 );
}

input[type="checkbox"].user-agent  {
	position: absolute;
	opacity: 0;
}

input[type="checkbox"].user-agent + div {
	vertical-align: middle;
	width: 40px;
	height: 20px;
	border-radius: 999px;
	background-color: #57BB00;
	-webkit-transition-duration: .4s;
	transition-duration: .4s;
	-webkit-transition-property: background-color, box-shadow;
	transition-property: background-color, box-shadow;
	cursor: pointer;
}

input[type="checkbox"].user-agent + div span {
	position: absolute;
    font-size: 1.6rem;
    color: white;
    margin-top: 12px;
}

input[type="checkbox"].user-agent + div span:nth-child( 1 ) {
    margin-left: 15px;
}

input[type="checkbox"].user-agent + div span:nth-child( 2 ) {
    margin-left: 55px;
}

input[type="checkbox"].user-agent:checked + div {
	width: 47px;
	background-position: 0 0;
	background-color: #3b89ec;
}

input[type="checkbox"].user-agent + div {
	width: 47px;
  height: 21px;
}


input[type="checkbox"].user-agent:checked + div {
	background-color: #57BB00;
}

input[type="checkbox"].user-agent + div > div {
	float: right;
    width: 19px;
    height: 18px;
    border-radius: inherit;
    background: #ffffff;
    transition-timing-function: cubic-bezier(1,0,0,1);
    transition-duration: 0.4s;
    transition-property: transform, background-color;
    pointer-events: none;
    margin-top: 1px;
    margin-left: 1px;
}

input[type="checkbox"].user-agent:checked + div > div {
	-webkit-transform: translate3d(20px, 0, 0);
	transform: translate3d(20px, 0, 0);
	background-color: #ffffff;
}

input[type="checkbox"].bigswitch.user-agent + div > div {
	width: 44px;
	height: 44px;
	margin-top: 1px;
}


input[type="checkbox"].user-agent:checked + div > div {
	/* -webkit-transform: translate3d(46px, 0, 0); */
	/* transform: translate3d(46px, 0, 0); */
}

.add-voucher-btn{
  float: right;
  position: relative;
  top: -3rem;
  right: 1rem;
  width: 51px;
  height: 3rem;
  border-radius: 3rem;
}

.add-voucher-btn img{
  width: 4rem;
  position: relative;
  top: -15px;
  right: 19px;
}

.voucher-container{
  display: flex;
  background: white;
  border-radius:8px; 
  width:99%;
  height:14rem;
  margin-bottom:1rem;
  box-shadow: 1px 1px 4px -1px grey;
}

.voucher-desc{
  flex-direction: column;
    display: flex;
}

.voucher-img {
  border-right:1px solid #dbdbdb;
  width: 25%;
}

.voucher-img img{
  width: 100%;
    border-top-left-radius: 8px;
    height: 100%;
    border-bottom-left-radius: 8px;
}

.voucher-desc{
  width: 50%;
  font-size: 19px;
  padding-top:16px;
  padding-left:2rem;
}

.voucher-desc span{
  margin-top:1rem;
}

.voucher-btn-container{
  width: 25%;
  text-align: center;
  display: inline-grid;
  padding-top: 3rem;
}

.voucher-banner-container img{
  width: 1100px;
  height: 246px;
}

.voucher-full-desc-container{
  background: white;
  margin-top: 1rem;
  /* margin-bottom: 1rem; */
  width: 1100px;
  padding: 1.5rem;
  box-shadow: 0px 2px 3px 1px #dbdbdb;
  display: inline-grid;
}

.voucher-full-desc-container span{
  margin-bottom:1rem;
}

.send-voucher-btn{
  width: 50%;
    padding: 5px 0;
    /* background: lightgreen; */
    border: 0;
    height: 37%;
    margin: 0 auto;
    background-image: linear-gradient( #36D1DC,#5B86E5);
    color: white;
    font-weight: bold;
}

.send-voucher-btn:last-child{
  background-image: linear-gradient( #DCE35B, #45B649);
}

.linear-background{
  background-image: linear-gradient( #36D1DC,#5B86E5) !important;
  color: white;
  font-weight: bold;
}

.notify-dropdown{
  transform: scale(1);
  background: white;
  position: absolute;
  right: 7rem;
  top: 4.6rem;
  /* width: 17%; */
  width:21rem;
}


.notify-title{
  padding:22px;
  border-bottom: 1px solid #f2f2f2;
  cursor: default;
}

.notify-item{
  display: flex;
  padding: 19px 22px;
  padding-bottom: 14px;
  border-bottom: 1px solid #f2f2f2;
  transition: all 0.5s ease;
}

.notify-item-icon{
  background: lightgreen;
  height: 3rem;
  width: 3rem;
  margin-right: 1rem;
  text-align: center;
  border-radius: 3rem;
}

.notify-item-icon img{
  width: 28px;
    height: 28px;
    margin-top: 9px;
}

.email-icon{
  width: 25px !important;
  height: 25px !important;
  margin-right: 1rem !important;
  margin-left: -2.5rem !important;
}

.filter-pages{
  width: 13rem;
  position: absolute;
  right: 2rem;
  margin-top: -2px;
  background: rgb(247,247,247);
}

.static-container{
  width:98.5%;
  margin-top:2rem;
}

.static-input{
  /* width: 500px; */
  margin-bottom:1rem;
}

.btn-link{
  color: darkgrey;
  font-weight: bold;
}

.btn-link:hover{
  text-decoration: none;
}

.btn-link.focus, .btn-link:focus{
  text-decoration: none;
}

/* .remove-hover:hover{
  text-decoration: none;
  color: darkblue;
} */



.sidebar-list li a {
  color: grey;
}

.logout-dropdown{
  transform: scale(1);
    background: white;
    position: absolute;
    right: 1rem;
    top: 4.6rem;
    /* width: 17%; */
    width: 21rem;
}

.logout-btn{
  width: 100%;
    height: 3rem;
    background: #dbdbdb;
}

.collapse-view-btn{
  border: 2px solid #dbdbdb;
  float: right;
}

.move-btn{
  margin-left: 1rem;
}

.view-merchant-container{
  display: flex;

}

.merchant-img-container{
  width: 11rem;
}

.merchant-img-container img{
  width: 11rem;
  height: 11rem;
  border-radius: 7rem;
}

.merchant-full-desc-container{
  width: 80%;
  display: inline-grid;
  padding-left: 4rem;
  padding-top: 1rem;
}

.settings-btn{
  text-align: center;
  padding-top: 10px;
  color: black;
}

.settings-btn:hover{
  text-decoration: none;
  color: black;
}

.settings-input{
  margin-bottom: 1rem;
}


.dashboard-header{
  width: 82%;
  position: fixed;
  /* left: 0; */
  height: 10rem;
  background: #fcfcfc;
  padding-top: 1rem;
  /* padding-left: 16rem; */
  z-index: 1;
  right: 0;
}

.table-page-title{
  margin-left: 2rem;
  margin-top: 21px;
  font-size: 25px;
  color: rgb(64,64,64);
  /* font-weight: bold; */
  z-index: 1000000;
}

.filter-users-container{
  display: flex;
}

.view-business-container{
  background: white;
  position: absolute;
  right: 0;
  top: 4.7rem;
  width: 51%;
  z-index: 10000;
  height:100%;
}

.cat-popup-container{
  background: #fcfcfc;
    z-index: 1000000;
    position: absolute;
    width: 52%;
    left: 16rem;
    top: 13rem;
    height: 35%;
    border-radius: 8px;
}





.modal-opacity{
  position: fixed;
    top: 4.7rem;
    right: 0;
    bottom: 0;
    left: 16rem;
    z-index: 1040 !important;
    background-color: #000;
    opacity: .5;
    z-index: 1;
    overflow: hidden;
}

.cat-modal-opacity{
  position: fixed;
  top: 4.7rem;
  right: 0;
  bottom: 0;
  left: 16rem;
  z-index: 1040 !important;
  background-color: #000;
  opacity: .5;
  z-index: 1;
  overflow: hidden;
}

.exit-btn-view-business{
  width: 5%;
  height: 28px;
  float: right;
  margin-right: 2rem;
  margin-top: 1rem;
  background: transparent;
  border: 0;
}

.exit-btn-view-business img{
  width:100%; 
  height: 100%;
}

.business-profile-container{
  display: flex;
  /* background: red; */
  height: 4rem;
  margin-top: 4rem;
  padding-left: 4rem;
  margin-bottom: 1rem;
}

.business-profile-container img{
  width: 14%;
  border-radius: 6rem;
  margin-right:3rem;
}

.business-profile-container span{
  margin-top: 21px;
  font-size: 16px;
}
.business-email-container{
  padding-left: 4rem;
  padding-top: 1rem;
  font-size: 14px;
}

.email-span{
  float: right;
  margin-right: 3.5rem;
}

.border-view-business{
  border-bottom: 1px solid #dbdbdb;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  width: 78%;
  margin-left: 4rem;
}

.view-business-tabs{
  padding-left: 4rem;
}

.view-business-tabs button{
  font-size: 15px;
  background: transparent;
  border: 0;
  margin-right: 13px;
}


.main-field-container{
  padding-left: 4rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  overflow: scroll;
  font-size: 14px;
  max-height: 17.9rem;
}

.field-container{
  margin-top:1rem
}


.view-business-tab-active{
  border-bottom: 2px solid #dbdbdb !important;
}


.send-notification-main{
  /* background: red; */
  width: 98.5%;
  margin-top: 2rem;
}

.send-notification-sender-header{
  background: white;
  display: flex;
  padding: 10px;
  border: 1px solid #dbdbdb;
}


.send-notification-input-container{
  display: flex;
  width: 94%;
  justify-content: flex-end;
}

.send-notification-dropdown{
  width: 15%;
}

.send-notification-date{
  width:15%;
  margin-left:1rem;
  text-align: center;
  background: transparent;
  border: 0;
  border-left: 1px solid #dbdbdb;
  border-radius: 0;
}

.send-to-text{
  color: grey;
}

.send-to-text-container{
  margin-left: 2rem;
  width: 10%;
  padding-top: 7px;
}

.send-notification-title-header{
  padding: 10px 0;
  background: white;
  border: 1px solid #dbdbdb;
  border-top: 1px solid #dbdbdb ;
}

.send-notification-title-header input{
  border: 0;
  padding-left:44px;
}

.send-notification-content-body{
  border: 1px solid #dbdbdb;
  border-top: 0 ;
  background: white;
}

.send-notification-content-body textarea{
  border:0;
  border-radius: 0;
  padding-left:44px;
  padding-top: 2rem;
}

.send-notification-button-container{
  text-align: right;
  padding-right: 5rem;
  margin-bottom: 2rem;
}

.send-notification-button{
  width: 30%;
  padding: 10px 0;
  border-radius: 6px;
  text-transform: uppercase;
  background-image: linear-gradient( #36D1DC,#5B86E5);
  color: white;
  font-weight: bold;
  margin-left: 1.5rem;
}


.send-notification-back-btn{
  width: 30%;
  padding: 10px 0;
  border-radius: 6px;
  text-transform: uppercase;
  border: 2px solid #dbdbdb;
}

.send-mail-btn{
  position: absolute;
  width: 3.5%;
  height: 6%;
  border-radius: 3rem;
  padding: 10px;
  right: 1rem;
  bottom: 3rem;
  background-image: linear-gradient( #36D1DC,#5B86E5);
}

.business-request-tabs-container{
  display: flex;
  /* margin-top:2rem; */
  padding-left:2rem;
}

.business-request-tabs-container button{
  width: 15%;
  padding: 10px 0;
  background: transparent;
  border: 0;
  text-transform: uppercase;
  margin-right: 2rem;
  font-size: 15px;
}

.business-request-tabs-container-active{
  border-bottom:1.5px solid #dbdbdb !important;
}


.business-request-title{
  margin-left: 30px !important;
  font-size: 21px;
  margin-top: 2.4rem;
  margin-bottom: 18px;
}

.approve-decline-container{
  background: white;
  border-radius: 8px;
  border: 1px solid #dbdbdb;
  z-index: 100;
  position: absolute;
  left: 33rem;
  height: 22%;
  width: 42%;
  /* justify-content: center; */
  text-align: center;
  padding: 2.4rem 0;
}

.approve-decline-container button{
  width: 26%;
  padding: 6px 0;
  margin-right: 1rem;
  border-radius: 8px;
  background: rgb(223, 65, 65);
}

.approve-decline-container button:first-child{
  border-radius: 8px;
  background: lightgreen;
  color: black;
}

.businessRequestApprove{
  color: green;
    background: transparent;
    font-weight: bold;
    border: 0;
}


.businessRequestDecline{
  color: red;
  font-weight: bold;
  background: transparent;
border: 0;
}

.cat-pop-title{
  font-size: 20px;
  margin-left: 4rem;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.cat-pop-input{
  width: 80%;
  margin: 0 auto;
}

.cat-save-btn{
  background: lightgreen;
    width: 17%;
    /* margin-left: 4rem; */
    margin-top: 2rem;
    float: right;
    margin-right: 3.9rem;
}

.main-cat-page-title{
  margin-left: 2rem;
  margin-top: 3rem;
}

.add-cat-btn{
  float: right;
  position: relative;
  top: -2rem;
  right: 2rem;
  width: 51px;
  height: 3rem;
  border-radius: 3rem;
  text-align: center;
}

.add-cat-btn img{
  z-index: 100000;
  width: 42px;
  margin: 0 auto;
  margin-left: -9px;
  margin-top: -3px;
  height: 42px;
}

.business-search-container{
  display: flex;
  margin-top:2rem;
}

.business-search-one{
  width: 70%;
  display: flex;
  padding-left: 2rem;
}

.business-select-1{
  width: 27%;
  margin-right: 2rem;
}

.business-select-2{
  width: 37% !important;
  float: right;
  margin-right: 2rem;
}

.business-search-one input{
  width: 30%;
  margin-right: 2rem;
}


.business-search-two{
  width: 50%;
}

.search-business-btn{
  background: white;
  border: 1px solid #dbdbdb;
}

.users-search-container{
  display: flex;
}

.users-search-container input{
  width: 50%;
  margin-left: 2rem;
  margin-top: 1.5rem; 
}


.users-search-container select{
  width: 30%;
  float: right;
  margin-top: 23px;
}

.users-dropdown-container{
  width: 45%;
}

.reset-btn-business{
  position: relative;
  right: -9rem;
  top: 1px;
  width: 23%;
  padding: 6px 0;
  border: 1px solid #dbdbdb;
  border-radius: 6px;
}

.featured-item-field-container{
  background: #fcfcfc;
  border: 1px solid #dbdbdb;

  width: 91%;
  display: flex;
  padding: 10px;
  margin-bottom:1rem;
}
.featured-item-img-container{
  width: 20%;
}

.featured-item-img-container img{
  width: 100%;
  height:100%; 
}

.featured-item-desc-container{
  width: 60%;
  text-align: center;
}

.featured-item-price-container{
  width: 20%;
}

.voucher-popup-container{
  background: #fcfcfc;
  z-index: 1000000;
  position: absolute;
  width: 52%;
  left: 16rem;
  top: 9rem;
  height: 60%;
  border-radius: 8px;
}

.voucher-pop-input{
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.voucher-main-title{
  margin-top: 3rem;
  margin-left: 2rem;
}

@media screen and (min-width: 1600px) {
  .send-voucher-btn{
    width: 13%;
    position: relative;
    right: -60rem;
    top: -2rem;
    border-radius: 12px;
    padding: 5px 0;
    background: lightgreen;
    border: 0;

  }
  .forgot-password-text{
    margin-left: 9.5rem;
  }

  .static-container {
      width: 80%;
      margin: 0 auto;
      margin-top: 2rem;
  }

  .static-title{
    margin-left: 10rem;
  }


  .graph-container{
    height: 26rem;
  }

  .graph-container-2{
    height: 49rem;
  }
}