.sidebar-content-container{
    padding: 35px;
    
  }
  
  .sidebar-list{
    list-style: none;
    text-align: center;
    padding-left: 0;
    margin-top: 4rem;
    overflow: scroll;
    max-height: 545px;
}
  
  .sidebar-list li{
    font-size: 18px;
    margin-bottom: 1rem;
    padding: 11px 0;
    /* max-height: 5rem; */
    /* overflow: scroll; */
  }

  
  .sidebar-list li:hover{
    cursor: pointer;
  }

  .remove-hover:hover{
    text-decoration: none;
    color: darkblue;
  }